<h1><%= @lesson.name %></h1>

<%= link_to "Return to lessons", section_path(@section)  %> |

<% if @previous %>
  <%= link_to "Previous Lesson", section_lesson_path(@section, @previous) %>
<% end %> |

<% if @next %>
  <%= link_to "Next Lesson", section_lesson_path(@section, @next) %>
<% end %>
<br><br>

<%= link_to "Edit", edit_section_lesson_path(@section, @lesson) %> |
<%= link_to "Delete", section_lesson_path(@section, @lesson),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<h3>Lesson Content:</h3>
<p><%= @lesson.content %></p>
